
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

h1 {
    padding-bottom: 15px;
}

section {
    width: 450px;
    padding: 10px;
    border-radius: 8px;
    background-color: #adadad;
}

form {
    text-align: center;
}

.form-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.form-container input {
    padding: 8px;
    outline: none;
    border: none;
    border-radius: 5px;
    
}

input[type=number]::-webkit-inner-spin-button { 
    -webkit-appearance: none;
    
}
input[type=number] { 
   -moz-appearance: textfield;
   appearance: textfield;
}


#number1 {
    max-width: 140px;
}

#operacao {
    max-width: 75px;
}

#number2 {
    max-width: 140px;
}

button {
    margin-top: 17px;
    width: 120px;
    padding: 8px;
    border: none;
    font-size: 0.95em;
    font-weight: bold;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    background-color: #242424;
}

button:hover {
    background-color: #131313;
}

.resultado {
    width: 450px;
    padding: 5px;
    margin: 10px 0;
}

p {
    color: #242424;
    font-size: 1.1em;
    font-weight: bold;
}